#!/usr/bin/env python

'''
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
'''

import sys
import requests

AMBARI_SERVER = "{{ ambari_server_endpoint }}"
CLUSTER_NAME = "{{ ambari_blueprint_cluster_name }}"
BLUEPRINT_NAME = "{{ ambari_blueprint_name }}"
BLUEPRINT_FILE = "{{ ambari_blueprint_file'] }}"

def main():
  	# Read blueprint file
  	f = open('{{ ambari_blueprint_dir }}' + BLUEPRINT_FILE ,'r')
  	blueprint_data = f.read()
  	f.close()
        auth=("{{ambari_server_user}}","{{ambari_server_password}}")
        headers={"X-Requested-By":"ambari-script"}
  	# Push blueprint
  	ambari_url = "http://" + AMBARI_SERVER + "/api/v1/blueprints/" + BLUEPRINT_NAME + "?validate_topology=false"
  	r = requests.post(ambari_url, blueprint_data, auth=auth, headers=headers)
  	if r.status_code != 201:
  		print "return code is %s" % r.status_code
  		print r.text
  	#	sys.exit(1)

  	# Read blueprint file
  	f = open('{{ambari_blueprint_dir}}/hosts-map.json','r')
  	maps_data = f.read()
  	f.close()

	# Push blueprint
        ambari_url = "http://" + AMBARI_SERVER + "/api/v1/clusters/" + CLUSTER_NAME
  	print ambari_url
  	r = requests.post(ambari_url, maps_data, auth=auth, headers=headers)
  	if r.status_code != 202:
  		print "return code is %s" % r.status_code
  		print r.text

  	ambari_url = "http://" + AMBARI_SERVER + "/api/v1/clusters"
  	r = requests.get(ambari_url, auth=auth, headers=headers)

if __name__ == "__main__":
    main()
